.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.header>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    width: 42px;
    height: 42px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.iconText {
    font-size: 12px;
    color: #777;
    font-weight: bold;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 12px;
    color: #888;
    margin: 0;
}

.chatBody {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.message {
    margin-bottom: 16px;
    max-width: 70%;
    padding: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.serverMessage {
    background-color: #f0f0f0;
    color: #333;
    align-self: flex-start;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.userMessage {
    background-color: #1455B0;
    color: #fff;
    margin-left: 80px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


.text {
    margin: 0;
}

.time {
    font-size: 12px;
    color: #aaa;
    margin-top: 8px;
    text-align: right;
}

.footer {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 8px;
    outline: none;
}

.sendButton {
    background-color: #1455B0;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sendButton:hover {
    background-color: #0f3a8d;
}

/* WebKit Browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar, .chatBody::-webkit-scrollbar {
    display: none;
}

/* ChatScreen.module.css */
.emergencyMessage {
    background-color: #FF9B94;
    color:black;
    align-self: flex-start;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}



/* 나머지 스타일 */
.text {
    font-size: 14px;
    margin: 0;
}

.time {
    font-size: 12px;
    color: #999;
    text-align: right;
}