.bottom_navigation {
    position: fixed;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; 
    width: 356px; 
    background-color: #fff;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.navButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}
